@{
    Layout = "_Layout";
}
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model ConsultationModel
<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>Dashboard</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <i class="zmdi zmdi-home"></i>
                        Gestion de clinique/Consultation
                    </a>
                </li>
                <li class="breadcrumb-item active">Ajouter une nouvelle consultation</li>
            </ul>
            <button class="btn btn-primary btn-icon mobile_menu" type="button">
                <i class="zmdi zmdi-sort-amount-desc">
                </i>
            </button>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button">
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>Consultation</strong> Ajout</h2>

            </div>
            <div class="body">
                <p>Formulaire d'ajout de consultation</p>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs p-0 mb-3 nav-tabs-success" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#patient_form">
                            <i class="zmdi zmdi-account"></i> Patient
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile_with_icon_title">
                            <i class="zmdi zmdi-account"></i> Consultation
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#messages_with_icon_title">
                            <i class="zmdi zmdi-email"></i> Analyse
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#settings_with_icon_title">
                            <i class="zmdi zmdi-settings"></i> Prescription
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#settings_with_icon_title">
                            <i class="zmdi zmdi-settings"></i> Resumé
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    @*formulaire d'ajout du patient*@
                    <div role="tabpanel" class="tab-pane in active show" id="patient_form">
                        <b>Informations de base</b>
                        @*ajout du patient*@
                        @using (Html.BeginForm("AddPatient", "Consultation", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Nom </label>
                                        @Html.TextBoxFor(model => model.Patient.lname,null,new {@class="form-control"})
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Prenom </label>
                                        @Html.TextBoxFor(model => model.Patient.fname,null,new {@class="form-control"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Age </label>
                                        @Html.TextBoxFor(model => model.Patient.age,null,new {@class="form-control"})
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Poids </label>
                                        @Html.TextBoxFor(model => model.Patient.fname,null,new {@class="form-control"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Taille </label>
                                        @Html.TextBoxFor(model => model.Patient.taille,null,new {@class="form-control"})
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Genre </label>
                                        @Html.DropDownListFor(model => model.Patient.genre, new List<SelectListItem>
                                        {
                                            new SelectListItem {Text = "Masculin",Value = "1"},
                                            new SelectListItem {Text = "Feminin",Value = "2"}
                                        },"Selectionnez le genre de l'utilisateur")
                       
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Date de naissance </label>
                                        @Html.TextBoxFor(model=>model.Patient.taille,null,new {@class="form-control"})
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Genre </label>
                                        @Html.TextBoxFor(model=>model.Patient.genre,null,new {@class="form-control"})
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-round btn-default" value="Sauvegar"/>
                        }
                       

                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile_with_icon_title">
                        <b>Profile Content</b>
                        <p>
                            Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                            Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                            pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                            sadipscing mel.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages_with_icon_title">
                        <b>Message Content</b>
                        <p>
                            Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                            Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                            pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                            sadipscing mel.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="settings_with_icon_title">
                        <b>Settings Content</b>
                        <p>
                            Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                            Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                            pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                            sadipscing mel.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
       $(document).ready(function() {
            let saveBtn=$("#saveDoctor")
            var file;
            $("#pp_file").change(function(e) {
                                file=e.target.files[0]
                              });
            saveBtn.click(function() {
             
                  var lname=$("#lname").val()
                  var fname=$("#fname").val();
                  var age=$("#age").val();
                  var genre=$("#gender").val();
                  var taille=$("#taille").val();
                  var poids=$("#poids").val();
                  var birthdate=$("#birthdate").val();
        
                let formdata=new FormData
                formdata.append("lname",lname)
                formdata.append("fname",fname)
                formdata.append("age",age)
                formdata.append("genre",genre)
                formdata.append("taille",taille)
                formdata.append("poids",poids)
                formdata.append("birthday",birthdate)
                formdata.append("user_pp",file)
                
               /* axios.post('/Consultation/AddPatient',formdata)
                */
                
            })
       })
    </script>
}
