@model ConsultationModel

@{
    Layout = "_Layout";
    var patient = (Patient) ViewData["patient"];
}
<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>Administration</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">
                        <i class="zmdi zmdi-home"></i>
                        Consultation
                    </a>
                </li>
                <li class="breadcrumb-item active">Gestion de la consultation</li>
            </ul>
        </div>

    </div>
</div>
<div class="row clearfix">
    <div class="col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>Consultation</strong> Ajout</h2>
            </div>
            <div class="body">
                <p>Continuez le processus d'ajout de la consultation .</p>

                <div class="panel-group" id="consultationAccordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="infoHeading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#consultationAccordion" href="#infoBody" aria-expanded="false" aria-controls="infoBody" class="collapsed">
                                    Informations sur le patient
                                </a>
                            </h4>
                        </div>
                        <div id="infoBody" class="panel-collapse in collapse" role="tabpanel">
                            <div>
                                
                         
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="lname">Nom </label>
                                                                    <input type="text"  value="@patient.lname" disabled="disabled" class="form-control" id="lname"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="lname">Prenom </label>
                                                                    <input type="text" value="@patient.fname" disabled="disabled" class="form-control" id="fname"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="lname">Age </label>
                                                                    <input type="number"  value="@patient.age" disabled="disabled" class="form-control" id="age"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="lname">Poids </label>
                                                                    <input type="number"  value="@patient.poids" disabled="disabled" class="form-control" id="poids"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="lname">Taille </label>
                                                                    <input type="number"  value="@patient.taille" class="form-control" disabled="disabled" id="taille"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="lname">Genre </label>
                                                                    @{
                                                                        if (patient.genre==1)
                                                                        {
                                                                            <input type="text" value="Masculin" class="form-control" disabled="disabled"/>
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="text" value="Feminin" class="form-control" disabled="disabled"/>
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="lname">Date de naissance </label>
                                                                    <input type="text" class="form-control" disabled="disabled" value="@patient.birthdate" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="lname">Photo </label>
                                                                    <input type="file" class="form-control"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                      
                               </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>